# Node dependencies
node_modules
*.log

# Laravel & Composer
vendor
.env
.env.*

# Laravel build & cache
public/hot
public/build
storage/*.key
storage/app/public
storage/framework
storage/logs

# OS / IDE / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode
.idea

# Docker files (if not needed during build)
docker/**/.dockerignore
docker/**/Dockerfile
compose.dev copy.yml
